* {
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    color: #0F172A;
    margin: 0;
    display: flex;
}

.main-content {
    flex: 1;
    padding: 0px 25px 25px 25px;
    margin-left: 18%;
}

header {
    width: 98.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:10px;
    padding: 15px 15px 20px 10px;
    border-bottom: 1.2px solid #f0f0f0;
}

header .header-title h1 {
    font-size: 15px;
    margin: 0;
    color: #5D4037;
    font-weight: 400;
}

header input[type="search"] {
    padding: 10px;
    width: 400px;
    height: 35px;
    font-size: 16px;
    border-radius: 4px;
    border: 1.5px solid transparent;
    box-shadow: 0px 0px 0.9px 0px rgba(0, 0, 0, 0.6);
    color: #5D4037;
    transition: box-shadow 0.5s ease;
}

header input[type="search"]::placeholder {
    color: #8B5E3C;
    opacity: 0.8;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}

header input[type="search"]:focus {
    outline: none;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
}

.form-container {
    background-color: #fff;
    padding:1px 20px 20px 20px;
    border-radius: 5px;
    width: 98.5%;
    display: grid;
    margin-top:30px;
    grid-template-columns: repeat(2,1fr); 
    gap:10px;
}

.conts{
    display: flex;
    background-color: #fff;
    padding:15px 10px 10px 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.6);
    width:100%;
    gap:0%;
    transition: transform 0.1s;


}

.conts:hover{
    transform: scale(1.01);
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
}

.product-info {
    width:85%;
    font-size:12px;
    margin-top:10px;
}

.product-info  strong{
    font-family: 'Arial', sans-serif;
    font-weight:normal; 
    color: #5D4037;
    margin-right:10px;
}


.product-info p  {
    font-family: 'Arial', sans-serif;
    font-weight:normal; 
    color:black;
}

.botones{
width:20%;
padding:10px;
margin-top:19%;
}

.botones a {
    text-decoration: none;
    background-color:#fff;
    font-size:12px;
    color:#5D4037;
    border: none;
    padding: 8px 15px;
    border-radius: 3px;
    margin-left:8px;
    cursor: pointer;
    transition: background-color 0.5s;
    box-shadow: 0px 0.3px 1px 0px rgba(0, 0, 0, 0.6);

}

.botones a:hover{
    background-color: rgba(255, 223, 0, 0.3);
}




